<!-- Swag -->
<div style="text-align:center">
  <h1>
    Welcome to {{ title }}!
  </h1>
</div>
<h2>Add items to the list and asign priority level to them: </h2>
<div>
  <form (submit)="addItem()" novalidate>
    <input type="text" [(ngModel)]="newItemName" name="newItemName" placeholder="New item...">
    <button type="submit">Add</button>
  </form>
</div>
<table>
  <tr *ngFor="let item of priorityList; index as i;">
    <td>{{ item.title }}</td>
    <td>
      <div class="rating">
        <span *ngFor="let number of [5,4,3,2,1]"
              [ngClass]="{'selected': item.rating >= number}"
              (click)="setRating(i, number)">☆</span>
      </div>
    </td>
    <td><button (click)="removeItem(i)">Remove</button></td>
  </tr>
</table>
