.rating {
  unicode-bidi: bidi-override;
  direction: rtl;
}
.rating > span {
  display: inline-block;
  position: relative;
  width: 1.1em;
  cursor: pointer;
}
.rating > span:hover:before,
.rating > span:hover ~ span:before {
  content: "\2605";
  position: absolute;
  color: orange;
}
.rating > span.selected:before {
  content: "\2605";
  position: absolute;
  color: orange;
}
#priorityListTable > thead > tr > th:nth-child(1),
#priorityListTable > thead > tr > th:nth-child(2) {
  cursor: pointer;
}

#priorityListTable tr > th:nth-child(2), 
#priorityListTable tr > td:nth-child(2) {
  min-width: 115px;
}